<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Electron TechDays</title>
  <link rel="stylesheet" href="../css/bootstrap.css"/>
</head>
<body>

<div class="container-fluid">

  <h1>TechDays Demo</h1>

  <div class="row" style="margin-bottom: 20px">
    <div class="col">
      <button type="button" class="btn btn-light" id="fly-action">Fly</button>
      <button type="button" class="btn btn-light" id="photo-action">Take photo</button>
      <button type="button" class="btn btn-light" id="wifi-action">Wifi</button>
      <button type="button" class="btn btn-light" id="portal-action">Open Page</button>
    </div>
  </div>

  <hr/>

  <div class="row text-center" style="margin-top: 50px">
    <div class="col-12">
      <img src="../images/2-2-photography-camera-logo-png.png" style="width: 100px; cursor: pointer" id="take-a-photo"/>
    </div>
  </div>


</div>

</body>

<script src="../front-app.js"></script>
</html>



